# This is the config file for genutil.py tools
sendEmail:
   gmailUsername: janedoeiot@gmail.com
   gmailPassword: DoeBuckle#99

twitterAccount:
   consumerKey: mykey
   consumerSecret: mysecret
   accessToken: my-access-token
   accessTokenSecret: my-access-secret

pushover:
   apiToken: mytoken
   users:
      eminer: myuserkey
